@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;    
}

.App {
    color: white;
}
.container {
    padding: 5px;
    border: 4px solid  #786BAD;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.messages {
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll !important;
  }



/* Styles for ready toggle */
.ready {
    position: absolute;
    right: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 10px;
  left: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #786BAD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #786BAD;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* scrollbar styles */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #786BAD; 
  border-radius: 10px;
  cursor: pointer !important;
}



.answer:hover, .answer.active {
  /* background-color: #786BAD; */
  background-color: orange;
  
}


.answer.correct {
  animation: correct 3s ease forwards;
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes  correct {

  0%, 22%, 42% {
    background: orange;
  }

  20%, 40%, 60% {
     background: #18181b;
  }

  62%, 100% {
    background: green;
  }

}

@keyframes  wrong {

  0%, 22%, 42% {
    background: orange;
  }

  20%, 40%, 60% {
     background: #18181b;
  }

  62%, 100% {
    background: crimson;
  }

}


.wrong {
  background-color: red;
}

.correct {
  background-color: green;
}
