body {
<<<<<<< HEAD
  margin: 0;
=======
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;


>>>>>>> master
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD
=======


#root {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 1920;
  max-height: 1080;
 
}
>>>>>>> master
